* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  // Variables
  --main-color: #e0e0e0;
  --main-back-color: #242424;


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--main-back-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

div#root {
  height: 100vh;
  width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// Initial app styles
.glass {
  backdrop-filter: blur(10px);
  // background-color: var(--main-back-color);
  background-color: #2424249f;
  border-radius: 10px;
}

.Wrapper {
  padding: 20px 12px 80px;
  min-width: 300px;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 20px;
}

.UserProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.Fluid {
  width: 100%;
  color: whitesmoke!important;
  .EditCreditCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    // border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: 20px 12px;
    margin: 12px 0;
    position: relative;
    filter: drop-shadow(0px 0px 2px white);
  }

}

.DataList{
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 20px 12px;
  box-shadow: 0px 0px 4px white;
}

// .DatePicker svg {
//   color: var(--main-color);
// }

.NotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 12px;
  height: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.CardResume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
}

.InputPassword {
  animation: animateWrongType 0.2s linear;
  animation-iteration-count: 3;
}

.AccordionSummary {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

// Media queries

@media (prefers-color-scheme: light) {
  :root {
    color: #004786;
    background-color: #e7e4e4;
    --main-color: #004786;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #7c1616;
  }

  .EditCreditCard{
    background-blend-mode: color-burn !important;
  }
}



@media screen and (min-width: 750px) {
  .Wrapper {
    // max-width: 1500px;
    // margin: 0 auto;
    // display: flex;
    // gap: 20px;
  }

  .Login {
    width: 500px;
    margin: 20px auto;
  }


  .Fluid {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;

    .EditCreditCard {
      width: calc(50% - 16px);
    }
  }


}

@media screen and (min-width: 1000px) {
  .Wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .Login {
    max-width: 400px;
    margin: 20px auto;
  }

  .UserProfile {
    padding: 12px;
    max-width: 35%;
  }

  .CardsWrapper {
    max-width: 60%;
  }

  .Fluid {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;

    .EditCreditCard {
      width: calc(50% - 16px);
    }
  }


}


// KeyFrames
@keyframes animateWrongType {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(15px);
  }
  75% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}