*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: red;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

// Initial app styles
.Wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 12px;
}

.FloatButton{
  position: absolute;
  right: 0;
  bottom: 0;
}

.UserProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #004786;
    background-color: #e3e3e3;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #7c1616;
  }
}
